<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>周六福</title>
  <link rel="icon" href="../../png/QQ图片20180911154112.png">
  <script src="../../jQurey.main.js"></script>
  <link rel="stylesheet" href="../css/dianmianxiangqing.css">
  <script src="../js/dianmianxiangqing.js"></script>
</head>
<body>
   <!--顶部-->
   <header>
      <div class="header_top">
          <div class="header_top_left"> <span>登录</span> <span>注册</span> </div>
          <div class="header_top_right">
              <span>购物车(0)</span>
              <span>我的订单</span>
              <span>个人中心</span>
              <span>门店管理</span>
              <span><img src="" alt="">4008-608388</span>
          </div>
      </div>
      <div class="header_title">
          <img src="../../png/logo.png" alt="">
          <div class="header_title_right">
              <span>深圳</span><span class="header_top_right_1">深圳周六福店</span><br>
              <input type="text" placeholder="请搜索戒托试试">
              <img src="" alt="">
          </div>
      </div>
      <div class="header_menu">
          <ul>
              <li>首页</li>
              <li>钻石定制</li>
              <li>全部分类</li>
              <li>系列</li>
              <li>专卖店</li>
              <li>搜索品牌</li>
          </ul>
      </div>
    </header>
<!--系列吐司-->
<div class="set_box">
    <div class="set">
      <div class="left_set">
        <ul>
          <li>
            <h3>产品系列</h3>
            <p>合一</p>
            <p>链·爱</p>
            <p>Mr.Right</p>
            <p>LOVE CASTLE</p>
            <p>招财纳福</p>
            <p>一路有你</p>
          </li>
          <li>
            <p>&nbsp;</p>
            <p>么么哒</p>
            <p>Running Diamond</p>
            <p>耀·变</p>
            <p>守护之光</p>
            <p>THE ONE</p>
            <p>爱的秘密</p>
          </li>
          <li>
            <p>&nbsp;</p>
            <p>爱の秘语</p>
            <p>MY HEART</p>
            <p>JUST YOU</p>
          </li>
        </ul>
      </div>
      <div class="right_set">
        <img src="../../png/series_nav_top_down.jpg">
        <div>
          <span>如何测量手寸</span>
          <span>如何挑选适合的戒指款式</span>
          <span>如何选购戒托材质</span>
          <span>匠心工艺</span>
        </div>
      </div>
    </div>
  </div>
    <hr>
    <!--内容-->
    <main>
      <!--介绍&预约-->
      <p class="nav">首页 &gt; 专卖店 &gt; 深圳周六福旗舰店</p>
      <div class="date">
        <div class="left_date">
          <img src="../../png/speciality_detail_top_img2.jpg">
          <h2>深圳周六福旗舰店</h2>
          <p><img src="../../png/speciality_index_pic6.png">&nbsp;深圳市南山区南海大道2163号来福士广场01层14号</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;活动地图&nbsp;发送地址到手机</p>
          <p><img src="../../png/speciality_index_pic7.png">&nbsp;营业时间：10:00-22:00（节假日照常接待）</p>
          <p><img src="../../png/speciality_index_pic8.png">&nbsp;预约电话：0755-38888888</p>
        </div>
        <div class="right_date">
          <h1>已有<span class="txt_color">109975</span>人预约进店</h1>
          <hr>
          <p class="place"><span>当前预约：深圳科技园门店</span><span class="txt_color">修改</span></p>
          <div><input type="text" placeholder="预约人姓名"></div>
          <div><input type="text" placeholder="预约人电话"></div>
          <div><input type="text" placeholder="预约人邮箱"></div>
          <div><input type="text"></div>
          <div><button>预约进店</button></div>
          <p>如您在预约过程中遇到任何问题，请致<br>电 400-01-13520 或在线咨询客服。</p>
        </div>
      </div>
      <!--图文详情-->
      <p>周六福深圳科技园门店<br>周六福第一家实体店，2007年至今，见证了成千上万对情侣的甜蜜时刻</p>
      <img src="../../png/speciality_detail_img4.png">
      <p>店内，典雅褐点缀着白色主题<br>唯美的装潢透露着精致的追求，恍若神圣的爱情殿堂</p>
      <div class="pic">
        <div><img src="../../png/speciality_detail_img5.png"></div>
        <div><img src="../../png/speciality_detail_img6.png"><img src="../../png/speciality_detail_img8.png"></div>
      </div>
      <p>店外，象征永恒的常青树与象征纯洁的蝴蝶兰打造出浪漫橱窗<br>引得不少恋人纷纷驻足，于此见证真爱</p>
      <img src="../../png/speciality_detail_img9.png">
      <p>所有家居均是特别定制，<br>色调以高级灰和典雅白搭配，为客户提供细致有格调的服务。</p>
      <hr>
      <p>到店tips<br>乘坐地铁1号线，到达世界之窗站--I出口<br> 靠左边前行400米，抵达周六福世界之窗店</p>
      <img src="../../png/speciality_detail_img10.png">
    </main>
</body>
</html>